$mainlight: #FBF5F3;
$maindark:  #004777;
$maidarkhover: #003457;
$secondarylight: #DAD4D3;
$secondarymedium: #CAC5C4;
$secondarydark: #A8A4A3;
$secondarytrack: #868382;
$headingdark: #001829;
$black: #000000;
$button: #F32020;
$buttonhover: #CE1A1A;
$buttonchecked: #F34646;