$mainlight: #FBF5F3;
$maindark:  #004777;
$maindarkhover: #003457;
$secondarylight: #DAD4D3;
$secondarymedium: #CAC5C4;
$secondarydark: #A8A4A3;
$secondarytrack: #94908F;
$headingdark: #001829;
$black: #000000;
$button: #F32020;
$star5: #fa4f4f;
$star: #df2525;
$starhover: #921717;