/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');

body {
    background-color: #FBF5F3;
}
/*.bodySearch {
    background-color: #00192A;
}*/

h1 {
    color: #FBF5F3;
    font-family: 'Racing Sans One', cursive;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 0;
}
h2 {
    color: #000C14;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
h3 {
    color: #000C14;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 1.5px;
    margin-top: 20px;
}
h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
}

/* NAV */
.topNav {
    width: 100%;
    margin: 0 auto;
    background-color: #004777;
}
.topNav::after {
    content: "";
    display: table;
    clear: both;
}
.topNavLeft {
    float: left;
    list-style: none;
}
.topNavLeft li {
    display: inline-block;
    margin-left: 20px;
}
.topNavRight {
    float: right;
    list-style: none;
    margin-right: 20px;
    padding-top: 10px;
}
.logoNav {}

.botNav {
    width: 100%;
    margin-top: 20px;
    background-color: #004777;
}
.botNav::after {
    content: "";
    display: table;
    clear: both;
}
.botNavMid {
    float: left;
    list-style: none;
    padding-top: 10px;
}
.botNavRight {
    float: right;
    list-style: none;
    margin-right: 20px;
    padding-top: 10px;
}

/* IMG */
.albumImgSm {
    height: 175px;
    width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTONS */
.randomizerButton {
    color: #FBF5F3;
    background-color: #F32020;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    border-radius: 8px;
    border-style: none;
    padding: 10px 20px;
}
.randomizerButton:hover {
    background-color: #CE1A1A;
}
.contactButton {
    color: #FBF5F3;
    background-color: #F32020;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 8px;
    border-style: none;
    padding: 5px 10px;
}
.contactButton:hover {
    background-color: #CE1A1A;
}

/* SEARCHBARS */
.barSearch {
    width: 400px;
    color: black;
    background-color: #FBF5F3;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
}

/* FORM */
form {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.formStyle {
    display: block;
    text-align: center;
    background-color: #DAD4D3;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
}

/* ALBUM */
.albumTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
.albumStyle {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.albumStyleInner {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.albumImgLg {
    height: 350px;
    width: 350px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    margin: 0 10px;
}
.rightCenterAlbum {
    display: block;
    text-align: center;
    height: 350px;
    width: 350px;
    background-color: #DAD4D3;
    margin: 0 10px;
    padding: 0 15px;
}
.albumDesc {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: left;
}
hr {
    border-color: #BBBBBB;
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.albumDescTrack {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: left;
}
.albumTracklist {
    background-color: #A8A4A3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    height: 105px;
    overflow-y: auto;
    padding: 5px;
}
.albumTracklist::-webkit-scrollbar {
    width: 10px;
}
.albumTracklist::-webkit-scrollbar-thumb {
    background: #004777;
}
.albumTracklist::-webkit-scrollbar-thumb:hover {
    background: #003457;
}
.albumTracklist::-webkit-scrollbar-track {
    background: #868382;
}
.albumButton {
    color: #FBF5F3;
    background-color: #F32020;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 8px;
    border-style: none;
    padding: 10px 20px;
}

/* SLIDER */
.itemslider {
    display: inline-block;
    width: 200px;
}
.albumSlider {
    overflow-x: scroll;
}

/* SEARCH */
.searchPage {
    background-color: blue;
}