/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');

@import "theme";
@import "font";

.indexh1 {
    color: $maindark;
    font-family: $titlefont;
    font-size: 110px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 175px;
    //
    animation: fade_in linear 8s 1;
    animation-fill-mode: forwards;
}
@keyframes fade_in {
    0% {
        margin-top: 100px;
        opacity: 0;
    }
    30% {
        margin-top: 175px;
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.discComponents {
    font-size: 130px;
    text-align: center;
}
.discIcon {
    animation: spin linear 8s 1;
    animation-fill-mode: forwards;
}
@keyframes spin {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 1;
        transform: rotate(0deg);
    }
    34% {
        transform: rotate(20deg);
    }
    38% {
        transform: rotate(60deg);
    }
    42% {
        transform: rotate(110deg);
    }
    46% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(260deg);
    }
    54% {
        transform: rotate(360deg);
    }
    58% {
        transform: rotate(520deg);
    }
    62% {
        transform: rotate(720deg);
    }
    66% {
        transform: rotate(1000deg);
    }
    70% {
        transform: rotate(1500deg);
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(10000deg);
    }
}

.homeh1 {
    color: $mainlight;
    font-family: $titlefont;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.contacth2 {
    font-size: 50px;
    color: $headingdark;
    font-family: $primaryfont;
    letter-spacing: 3px;
    margin-top: 20px;
}
.indexh2 {
    font-size: 50px;
    color: $mainlight;
    font-family: $primaryfont;
    letter-spacing: 3px;
    background-color: $headingdark;
    margin: 20px 20px 0 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    display: inline-block;
}

/* SLIDER */
.albumSlider {
    background-color: $secondarylight;
    overflow-y: hidden;
    height: 320px;
    margin: 0 20px 20px;
    padding: 20px 0 20px 10px;
}
.itemslider {
    display: inline-block;
    width: 200px;
    vertical-align: text-top;
    margin-left: 20px;
    margin-right: 20px;
}
.albumImgSm {
    height: 175px;
    width: 175px;
    border-color: $black;
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sliderText {
    color: $black;
    font-family: $secondaryfont;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.sliderText:hover {
    color: $maindark;
}

h3 {
    font-size: 35px;
    margin-top: 20px;
    color: $headingdark;
    font-family: $primaryfont;
    letter-spacing: 1.5px;
}
h4 {
    color: $black;
    font-family: $secondaryfont;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
p {
    color: $mainlight;
    font-family: $primaryfont;
    font-size: 22px;
}

/* NAV */
.topNav {
    width: 100%;
    margin: 0 auto;
    background-color: $maindark;
}
.topNav::after {
    content: "";
    display: table;
    clear: both;
}
.topNavLeft {
    float: left;
    list-style: none;
    margin-bottom: 8px;
}
.topNavLeft li {
    display: inline-block;
    margin-left: 20px;
}
.iconAlign {
    font-size: 35px;
    float: left;
    margin-top: 6px;
}
.discIconSm:hover {
    animation: spin_sm 2s 1;
}
@keyframes spin_sm {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.topNavRight {
    font-size: 27px;
    float: right;
    list-style: none;
    margin-top: 15px;
    margin-right: 40px;
}

.botNav {
    width: 100%;
    margin-top: 20px;
    background-color: $maindark;
}
.botNav::after {
    content: "";
    display: table;
    clear: both;
}
.botNavMid {
    float: left;
    list-style: none;
    margin-top: 20px;
}
.botNavRight {
    font-size: 27px;
    float: right;
    list-style: none;
    margin-top: 15px;
    margin-right: 40px;
}
.botNavRight li {
    display: inline-block;
    margin-left: 20px;
}
.botComment {
    color: $mainlight;
    font-family: $primaryfont;
    font-size: 20px;
}

/* BUTTONS */
.randomizerButton {
    color: $mainlight;
    background-color: $button;
    font-family: $primaryfont;
    font-size: 30px;
    border-radius: 8px;
    border-style: none;
    margin: 30px 0;
    padding: 10px 20px;
}
.randomizerButton:hover {
    background-color: $buttonhover;
}
.contactButton {
    color: $mainlight;
    background-color: $button;
    font-family: $primaryfont;
    font-size: 15px;
    border-radius: 8px;
    border-style: none;
    padding: 5px 10px;
}
.contactButton:hover {
    background-color: $buttonhover;
}

/* ALBUM */
.albumTitle {
    font-family: $primaryfont;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
.albumStyle {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.albumStyleInner {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.albumImgLg {
    height: 350px;
    width: 350px;
    border-color: $black;
    border-style: solid;
    border-width: 3px;
    margin: 0 10px;
}
.rightCenterAlbum {
    display: block;
    text-align: center;
    height: 350px;
    width: 350px;
    background-color: $secondarylight;
    margin: 0 10px;
    padding: 0 15px;
}
.albumDesc {
    font-family: $primaryfont;
    font-size: 25px;
    text-align: left;
}
.albumDesc:hover {
    color: $maindark;
}
hr {
    border-color: $secondarydark;
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.albumDescTrack {
    font-family: $primaryfont;
    font-size: 25px;
    text-align: left;
}
.albumTracklist {
    background-color: $secondarydark;
    font-family: $primaryfont;
    font-size: 16px;
    text-align: left;
    height: 110px;
    overflow-y: auto;
    padding: 5px;
    white-space: pre-line;
}
.albumTracklist::-webkit-scrollbar {
    width: 10px;
}
.albumTracklist::-webkit-scrollbar-thumb {
    background: $maindark;
}
.albumTracklist::-webkit-scrollbar-thumb:hover {
    background: $maidarkhover;
}
.albumTracklist::-webkit-scrollbar-track {
    background: $secondarytrack;
}

.faStar {
    font-size: 30px;
}
.rateAlbum:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rateAlbum:not(:checked) > label {
    width: 35px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    color: $secondarydark;
}
.rateAlbum > input:checked ~ label {
    color: $buttonchecked;
}
.rateAlbum:not(:checked) > label:hover,
.rateAlbum:not(:checked) > label:hover ~ label {
    color: $button;
}

/* ARTIST */
.artistTitle {
    font-family: $primaryfont;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
.artistStyle {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.artistImgLg {
    height: 400px;
    width: 400px;
    border-color: $black;
    border-style: solid;
    border-width: 3px;
    margin: 0 10px;
}

/* SEARCH */
.returnHome {
    color: $mainlight;
    background-color: $maindark;
    font-family: $secondaryfont;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    padding: 10px 0;
}
.returnHome:hover {
    color: $secondarydark;
}
.bodySearch {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.barSearch {
    width: 450px;
    color: $black;
    background-color: $mainlight;
    font-family: $primaryfont;
    font-size: 25px;
    border-color: $black;
    border-radius: 8px;
    border-style: solid;
    margin-top: 200px;
    padding: 10px 15px;
}
.barSearch:focus {
    outline: none;
}
.searchButton {
    color: $mainlight;
    background-color: $maindark;
    font-family: $primaryfont;
    font-size: 25px;
    border-color: $black;
    border-radius: 8px;
    border-style: solid;
    margin-left: 5px;
    padding: 10px 15px;
}
.searchButton:hover {
    background-color: $maidarkhover;
}

/* CONTACT PG */
.contactDesc {
    color: $black;
    font-family: $primaryfont;
    font-size: 22px;
}

/* FORM */
form {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.formStyle {
    display: block;
    text-align: center;
    background-color: $secondarylight;
    font-family: $secondaryfont;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
}